@page
@model PROJECT_PRN221.Pages.customersite.profile.ChangesAvatarModel
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="~/customer/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="~/customer/icomoon/icomoon.css">
        <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/customer/css/vendor.css">
        <link rel="stylesheet" type="text/css" href="~/customer/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- script
        ================================================== -->
        <script src="~/customer/js/modernizr.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PV3J437JX5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-PV3J437JX5');
        </script>
    </head>
<body>
    <!-- ================================================== -->


    @*HEADER*@
    <partial name="/Pages/_HeaderCustomersite.cshtml" model="new PROJECT_PRN221.Pages._HeaderCustomerSiteModel()"/>


    @*MAIN*@
        <div class="container">   
            @*<c:forEach var="l" items="${listcus}">*@
                <div class="row gutters">

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                            <c:if test="${l.image== null && l.gender == true}">
                                                <form action="ProfileController" method="post">
                                                    <input type="hidden" name="service" value="setAvatar"/>
                                                    <img id="preview-img" src="images/avatar/martin.svg" alt="avatar"> <br>
                                                    <input style="all: unset;" type="file" onchange="previewImage()" accept="image/*" name="image" value="${l.image}"/> <br>
                                                    <input type="submit" name="submit"/>
                                                </form> 
                                            </c:if>
                                            <c:if test="${l.image == null && l.gender == false}">
                                                <form action="ProfileController" method="post">
                                                    <input type="hidden" name="service" value="setAvatar"/>
                                                    <img id="preview-img" src="images/avatar/carol.svg" alt="avatar"> <br>
                                                    <input style="all: unset;" type="file" onchange="previewImage()" accept="image/*" name="image" value="${l.image}"/> <br>
                                                    <input type="submit" name="submit"/>
                                                </form> 
                                            </c:if>
                                            <c:if test="${l.image != null}">
                                                <form action="ProfileController" method="post">
                                                    <input type="hidden" name="service" value="setAvatar"/>
                                                    <img id="preview-img" src="${l.image}" alt="avatar"> <br>
                                                    <input style="all: unset;" type="file" onchange="previewImage()" accept="image/*" name="image" value="${l.image}"/> <br>
                                                    <input type="submit" name="submit"/>
                                                </form> 
                                            </c:if>
                                        </div>
                                        <h5 class="mb-2 text-primary">${l.username}</h5>
                                        <h6 class="user-email">${l.gmail}</h6>
                                    </div>
                                    <div class="about">
                                        <a href="EditProfileController" class="btn btn-secondary">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-primary">Personal Details</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="fullName">Full Name</label>
                                            <input type="text" name="name" class="form-control" id="fullName" value="${l.name}"readonly="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">Email</label>
                                            <input type="email" name="email" class="form-control" id="eMail" value="${l.gmail}" readonly="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" name="phone"class="form-control" id="phone" value="${l.phone}"readonly="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="website">Dob</label>
                                            <fmt:formatDate value="${l.dob}" pattern="dd-MM-yyyy" var="formattedDate" />
                                            <input type="datetime" name="dob"class="form-control" id="website" value="${formattedDate}"readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="Street">Address</label>
                                            <input type="text" name="address" class="form-control" id="Street" value="${l.address}"readonly="">
                                        </div>
                                    </div><br>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="sTate">Gender</label>
                                            <input type="text" name="gender" class="form-control" id="sTate" value="${l.gender==false?"Female":"Male"}"readonly="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-center" style="margin-top: 50px;">
                                                <a href="HomeController" id="submit" name="submit" class="btn btn-secondary">Back to Home</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @*</c:forEach> *@
        </div>

     @*FOOTER*@
     <partial name="/Pages/_FooterCustomerSite.cshtml" model="new PROJECT_PRN221.Pages._FooterCustomerSiteModel()"/>

    <!-- ================================================== -->
        <script src="~/customer/js/jquery-1.11.0.min.js"></script>
        <script src="~/customer/js/plugins.js"></script>
        <script src="~/customer/js/script.js"></script>
                <script>
                                                        function previewImage() {
                                                            var preview = document.querySelector('#preview-img');
                                                            var file = document.querySelector('input[type=file]').files[0];
                                                            var reader = new FileReader();

                                                            reader.onloadend = function () {
                                                                preview.src = reader.result;
                                                            };

                                                            if (file) {
                                                                reader.readAsDataURL(file);
                                                            } else {
                                                                preview.src = "";
                                                            }
                                                        }
        </script>
</body>
</html>