@page
@model PROJECT_PRN221.Pages.adminsite.product.EditModel
@{
    ViewData["Title"] = "Update Product";
}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
        <link rel="shortcut icon" href="~/admin/images/favicon.png" />
    </head>
    <body>

                <div class="container-scroller">

                <partial name="/Pages/_HeaderAdminsite.cshtml" model="new PROJECT_PRN221.Pages._HeaderAdminsiteModel()"/>

                <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new PROJECT_PRN221.Pages._LeftPageAdminSiteModel()"/>

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                           <form method="post">
                                <div class="row">
                                    <div class="col-md-12 grid-margin card">
                                        <div class="card-body">
                                            <h4 class="card-title">Update Product</h4>
                                            <p class="card-description">
                                                Fill all the bank
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card-body">

                                                    <input type="hidden" asp-for="Product.ProductId">

                                                    <div class="form-group">
                                                        <label asp-for="Product.ProductName" >Product Name</label>
                                                        <input type="text" class="form-control" asp-for="Product.ProductName" 
                                                        placeholder="Product Name" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Product.ListPrice" >List Price | VNĐ</label>
                                                        <input type="text" class="form-control number" asp-for="Product.ListPrice" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="discount">Discount</label>
                                                        <input type="text" class="form-control" asp-for="Product.Discount"
                                                        placeholder="Discount" required>
                                                    </div>

                                                </div> 
                                            </div>

                                            <div class="col-md-6">
                                                <div class="card-body">

                                                    <div class="form-group">

                                                        <label asp-for="Product.CategoryId">Category</label>
                                                        <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>

                                                    </div>

                                                    <div class="form-group">

                                                        <label asp-for="Product.BrandId">Brand</label>
                                                        <select  asp-for="Product.BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>

                                                    </div>

                                                    <div class="form-group">

                                                        <label  asp-for="Product.Status">Status</label>
                                                        <select asp-for="Product.Status" 
                                                        asp-items="@(new SelectList(new List<SelectListItem>
                                                        {
                                                            new SelectListItem { Text = "Stocking", Value = "Stocking" },
                                                            new SelectListItem { Text = "Sold out", Value = "Sold out" }
                                                        }, "Value", "Text"))" 
                                                        
                                                        class="form-control">
                                                        </select>
                                                         
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12">

                                                <div class="card-body">

                                                    <div class="form-group">
                                                        <label asp-for="Product.Image" class="control-label">Image</label>
                                                        <img id="preview-img" src="@Model.Product.Image"  style="width: 30%">
                                                        <input type="file"  asp-for="Product.Image" class="form-control" 
                                                         onchange="previewImage()" accept="image/*" >
                                                        @*<span asp-validation-for="Product.Image" class="text-danger"></span>*@
                                                    </div>

                                                    <div class="form-group">

                                                        <label asp-for="Product.SubDescription">Sub Description</label>
                                                        <textarea  asp-for="Product.SubDescription"></textarea>

                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Product.Description">Description</label>
                                                        <textarea  asp-for="Product.Description"></textarea>
                                                    </div>

                                                </div>

                                            </div>
                                            <div style="text-align: center; margin-bottom: 30px">
                                                <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                                                <button class="btn btn-light">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                        </form>
                    </div>

                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                        </div>
                    </footer>
                </div>
            </div>



        <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
        <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/admin/js/off-canvas.js"></script>
        <script src="~/admin/js/hoverable-collapse.js"></script>
        <script src="~/admin/js/template.js"></script>
        <script src="~/admin/js/settings.js"></script>
        <script src="~/admin/js/todolist.js"></script>

        <script src="~/admin/js/file-upload.js"></script>
        <script src="~/admin/js/typeahead.js"></script>
        <script src="~/admin/js/select2.js"></script>
        <!-- End custom js for this page-->
        <script src="~/admin/vendors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/vendors/tinymce/tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

           <script>
                                                            tinymce.init({
                                                                selector: 'textarea',
                                                                height: 500,
                                                                menubar: 'file edit view format',
                                                                plugins: 'advlist autolink lists link image charmap print preview anchor',
                                                                toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
                                                            });

            const numberElements = document.getElementsByClassName('number');
            for (let i = 0; i < numberElements.length; i++) {
                const numberElement = numberElements[i];
                const number = parseFloat(numberElement.innerText);
                const formattedNumber = formatCurrency(number);
                numberElement.innerText = formattedNumber;
            }

            function formatCurrency(value) {
                const intValue = parseInt(value);
                const formattedValue = intValue.toLocaleString('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                });
                return formattedValue;
            }

            function previewImage() {
                var preview = document.querySelector('#preview-img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    preview.src = reader.result;
                };
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
        </script>
}
    </body>
</html>