@page
@model PROJECT_PRN221.Pages.adminsite.product.EditModel

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SubDescription" class="control-label"></label>
                <input asp-for="Product.SubDescription" class="form-control" />
                <span asp-validation-for="Product.SubDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ListPrice" class="control-label"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Discount" class="control-label"></label>
                <input asp-for="Product.Discount" class="form-control" />
                <span asp-validation-for="Product.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.BrandId" class="control-label"></label>
                <select asp-for="Product.BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="Product.BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Status" class="control-label"></label>
                <input asp-for="Product.Status" class="form-control" />
                <span asp-validation-for="Product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Star Admin2 </title>
        <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
        <link rel="shortcut icon" href="~/admin/images/favicon.png" />
    </head>
    <body>

                <div class="container-scroller">

                <partial name="/Pages/_HeaderAdminsite.cshtml" model="new PROJECT_PRN221.Pages._HeaderAdminsiteModel()"/>

                <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new PROJECT_PRN221.Pages._LeftPageAdminSiteModel()"/>

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        @*<c:forEach var="d" items="${data}">*@
                            <form class="forms-sample" method="post" action="ProductController">
                                <input type="hidden" name="service" value="updateProduct">
                                <div class="row">
                                    <div class="col-md-12 grid-margin card">
                                        <div class="card-body">
                                            <h4 class="card-title">Update Product</h4>
                                            <p class="card-description">
                                                Fill all the bank
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <input type="hidden" name="id" value="${d.product_id}">
                                                    <div class="form-group">
                                                        <label for="role">Product Name</label>
                                                        <input type="text" class="form-control" name="product_name" id="product_name"  value="${d.product_name}" placeholder="Product Name" required>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="list_price">List Price</label>
                                                        <input type="text" class="form-control number" name="list_price" id="list_price" value="${d.list_price}" placeholder="Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="discount">Discount</label>
                                                        <input type="text" class="form-control" name="discount" id="discount" value="${d.discount}" placeholder="Discount" required>
                                                    </div>
                                                </div> 
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="category_id">Category Name</label>
                                                        <select class="form-control" name="category_id" id="category_id">
                                                            <c:forEach var="c" items="${listC}">
                                                                @*<option value="${c.category_id}" ${(d.category_id==c.category_id)? "selected" : ""}>${c.category_name}</option>*@
                                                            </c:forEach>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="brand_id">Brand Name</label>
                                                        <select class="form-control" name="brand_id" id="brand_id">
                                                            <c:forEach var="b" items="${listB}">
                                                                @*<option value="${b.brand_id}" ${(d.brand_id == b.brand_id)? "selected" : ""}>${b.brand_name}</option>*@
                                                            </c:forEach>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select class="form-control" name="status" id="status" >   
                                                            @*<option value="Stocking" ${d.status.equalsIgnoreCase("Stocking")? "selected" : ""}>Stocking</option>*@
                                                            @*<option value="Sold out" ${d.status.equalsIgnoreCase("Sold out")? "selected" : ""}>Sold out</option> *@
                                                        </select>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="image">image</label>
                                                        <img id="preview-img" src="${d.image}"  style="width: 30%">
                                                        <input type="file" class="form-control" onchange="previewImage()" accept="image/*" name="image" id="image" value="${d.image}"  placeholder="image">
                                                        <input type="hidden" name="imageoriginal" value="${d.image}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sub_description">Sub Description</label>
                                                        <textarea  name="sub_description" >${d.sub_description}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <textarea  name="description" >${d.description}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="text-align: center; margin-bottom: 30px">
                                                <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                                                <button class="btn btn-light">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                @*</c:forEach>*@
                        </form>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>



        <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
        <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/admin/js/off-canvas.js"></script>
        <script src="~/admin/js/hoverable-collapse.js"></script>
        <script src="~/admin/js/template.js"></script>
        <script src="~/admin/js/settings.js"></script>
        <script src="~/admin/js/todolist.js"></script>

        <script src="~/admin/js/file-upload.js"></script>
        <script src="~/admin/js/typeahead.js"></script>
        <script src="~/admin/js/select2.js"></script>
        <!-- End custom js for this page-->
        <script src="~/admin/vendors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/vendors/tinymce/tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.min.js"></script>
        <script>
                                                            tinymce.init({
                                                                selector: 'textarea',
                                                                height: 500,
                                                                menubar: 'file edit view format',
                                                                plugins: 'advlist autolink lists link image charmap print preview anchor',
                                                                toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
                                                            });
        </script>
        <script>
            const numberElements = document.getElementsByClassName('number');
            for (let i = 0; i < numberElements.length; i++) {
                const numberElement = numberElements[i];
                const number = parseFloat(numberElement.innerText);
                const formattedNumber = formatCurrency(number);
                numberElement.innerText = formattedNumber;
            }

            function formatCurrency(value) {
                const intValue = parseInt(value);
                const formattedValue = intValue.toLocaleString('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                });
                return formattedValue;
            }

            function previewImage() {
                var preview = document.querySelector('#preview-img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    preview.src = reader.result;
                };
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
        </script>
    </body>
</html>